@keyframes transition {
  from {background-color: #1F618D;}
  to {background-color: #EBF5FB;}
}

/* ul.ham {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.ham li{
  display:inline;
} */

/* body {  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 150px;
  background-color: azure
} */
p{
  font-family: Georgia;
}
th{
  text-align: center;
}
/* a:link{
  color:blue
}
a:visited{
  color:green
}

a:hover{
  color:#1F618D;
    text-decoration: underline;
    text-shadow: 4px 4px 4px #1B4F72;

} */

h1.sloka { text-shadow: 1px 1px;
  color:#1F618D;
  border-style: ridge;
  animation-name : transition;
  animation-duration: 1.5s;
  animation-fill-mode: both;

}
.meaning{ text-shadow: 1px 1px;
  color:#1F618D;
  border-style: ridge;
  animation-name : transition;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-fill-mode: both;
}
h3 {
  background-color: #F8F9F9;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

h3:hover {
  background-color:#BDC3C7;
}

/* Formatting Table of courses */
th{  background-color: #F8F9F9;
  font-size: 1rem;
  transition-property: background-color, font-size;
  transition-duration: 0.25s;
  transition-timing-function: linear;

}
th:hover {
  background-color:#BDC3C7;
  font-size: 1.05rem
}
form{
  height:10vh;
  display:flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

}
